<h1>Listing popularty_line_items</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Popularty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @popularty_line_items.each do |popularty_line_item| %>
  <tr>
    <td><%= popularty_line_item.product_id %></td>
    <td><%= popularty_line_item.popularty_id %></td>
    <td><%= link_to 'Show', popularty_line_item %></td>
    <td><%= link_to 'Edit', edit_popularty_line_item_path(popularty_line_item) %></td>
    <td><%= link_to 'Destroy', popularty_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Popularty line item', new_popularty_line_item_path %>
