<br><hr><br>
<% if notice %>
<p id="notice"><%= notice %></p><br/>
<% end %>
<div class="your_cart">
<div class="cart_title"><u>Your Cart</u> </div><br />
<%= link_to 'More shopping', store_path %>
<table class="hovertable" align="center">
	<%# render (@cart.line_item) %>
	<% for item in @cart.line_items %>
	<tr>
		<td><%= item.quantity %>&times;</td>
		<td><%= item.product.title %></td>
		<td class="item_price"><%= number_to_currency(item.total_price) %></td>
	</tr>
	<% end %>
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
	</tr>
</table>
<br><br>
<center>
<table><tr>
	<td><%= button_to 'Checkout', new_order_path, :method => :get %></td><td><%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure ?' %></td>
</tr></table>
</center>

<br><hr /><hr />
</div>
<br><br>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%#= link_to 'Back', carts_path %>
